In [ ]:
import pandas as pd

In [ ]:
sa2022 = pd.read_excel('/content/drive/MyDrive/Projetos/Bet Tips/A_2022.xlsx')
sa2021 = pd.read_excel('/content/drive/MyDrive/Projetos/Bet Tips/A_2021.xlsx')
sa2020 = pd.read_excel('/content/drive/MyDrive/Projetos/Bet Tips/A_2020.xlsx')
sa2019 = pd.read_excel('/content/drive/MyDrive/Projetos/Bet Tips/A_2019.xlsx')
sa2018 = pd.read_excel('/content/drive/MyDrive/Projetos/Bet Tips/A_2018.xlsx')

df = pd.concat([sa2022, sa2021, sa2020, sa2019, sa2018],ignore_index = True)

In [ ]:
#a2022.head()
df.shape

(2088, 10)

In [ ]:
df.dropna(inplace=True)
df.shape

(1199, 10)

In [ ]:
#conversão de tipo para utilizar split
df['col'] = df['Resultado'].astype(str)
df['Resultado_Casa'] = df['col'].str[0:1]
df['Resultado_Visitante'] = df['col'].str[2:3]
df.drop(['col'], axis = 1, inplace = True)
df.head()

,Sem,Dia,Data,Horário,Em casa,Resultado,Visitante,Público,Local,Árbitro,Resultado_Casa,Resultado_Visitante
0,1,sáb,2022-04-09,16:30:00,Fluminense,0–0,Santos,22855.0,Estadio Jornalista Mário Filho,Anderson Daronco,0,0
1,1,sáb,2022-04-09,19:00:00,Atl Goianiense,1–1,Flamengo,10496.0,Estádio Antônio Accioly,Braulio da Silva Machado,1,1
2,1,dom,2022-04-10,11:00:00,Coritiba,3–0,Goiás,17788.0,Estádio Major Antônio Couto Pereira,Raphael Claus,3,0
3,1,dom,2022-04-10,16:00:00,Botafogo (RJ),1–3,Corinthians,36898.0,Estádio Nilton Santos,Wilton Sampaio,1,3
4,1,dom,2022-04-10,16:00:00,Atlético Mineiro,2–0,Internacional,37531.0,Estádio Governador Magalhães Pinto,Bruno Arleu de Araujo,2,0

In [ ]:
df.dropna(inplace=True)
df.shape

(1199, 12)

In [ ]:
df['Resultado_Casa'] = df['Resultado_Casa'].astype(int)
df['Resultado_Visitante'] = df['Resultado_Visitante'].astype(int)


df['Total Gols'] = df['Resultado_Casa'] + df['Resultado_Visitante']
df.head()

,Sem,Dia,Data,Horário,Em casa,Resultado,Visitante,Público,Local,Árbitro,Resultado_Casa,Resultado_Visitante,Total Gols
0,1,sáb,2022-04-09,16:30:00,Fluminense,0–0,Santos,22855.0,Estadio Jornalista Mário Filho,Anderson Daronco,0,0,0
1,1,sáb,2022-04-09,19:00:00,Atl Goianiense,1–1,Flamengo,10496.0,Estádio Antônio Accioly,Braulio da Silva Machado,1,1,2
2,1,dom,2022-04-10,11:00:00,Coritiba,3–0,Goiás,17788.0,Estádio Major Antônio Couto Pereira,Raphael Claus,3,0,3
3,1,dom,2022-04-10,16:00:00,Botafogo (RJ),1–3,Corinthians,36898.0,Estádio Nilton Santos,Wilton Sampaio,1,3,4
4,1,dom,2022-04-10,16:00:00,Atlético Mineiro,2–0,Internacional,37531.0,Estádio Governador Magalhães Pinto,Bruno Arleu de Araujo,2,0,2

In [ ]:
#criar coluna nova para condicional
df['Time Vencedor'] = 'NaN'

In [ ]:
#condicional retornando valor de outra coluna
for index, row in df.iterrows():
    if row['Resultado_Casa'] > row['Resultado_Visitante']:
        df.loc[index,'Time Vencedor'] =  str(df.loc[index,'Em casa'])
    elif row['Resultado_Casa'] < row['Resultado_Visitante']:
        df.loc[index, 'Time Vencedor'] = str(df.loc[index, 'Visitante'])
    else:
        df.loc[index, 'Time Vencedor'] = 'Empate'

df.head()

,Sem,Dia,Data,Horário,Em casa,Resultado,Visitante,Público,Local,Árbitro,Resultado_Casa,Resultado_Visitante,Total Gols,Time Vencedor
0,1,sáb,2022-04-09,16:30:00,Fluminense,0–0,Santos,22855.0,Estadio Jornalista Mário Filho,Anderson Daronco,0,0,0,Empate
1,1,sáb,2022-04-09,19:00:00,Atl Goianiense,1–1,Flamengo,10496.0,Estádio Antônio Accioly,Braulio da Silva Machado,1,1,2,Empate
2,1,dom,2022-04-10,11:00:00,Coritiba,3–0,Goiás,17788.0,Estádio Major Antônio Couto Pereira,Raphael Claus,3,0,3,Coritiba
3,1,dom,2022-04-10,16:00:00,Botafogo (RJ),1–3,Corinthians,36898.0,Estádio Nilton Santos,Wilton Sampaio,1,3,4,Corinthians
4,1,dom,2022-04-10,16:00:00,Atlético Mineiro,2–0,Internacional,37531.0,Estádio Governador Magalhães Pinto,Bruno Arleu de Araujo,2,0,2,Atlético Mineiro

In [ ]:
df.drop('Sem', axis=1, inplace=True)
df.drop('Dia', axis=1, inplace=True)
df.drop('Data', axis=1, inplace=True)
df.drop('Horário', axis=1, inplace=True)
df.head()

,Em casa,Resultado,Visitante,Público,Local,Árbitro,Resultado_Casa,Resultado_Visitante,Total Gols,Time Vencedor
0,Fluminense,0–0,Santos,22855.0,Estadio Jornalista Mário Filho,Anderson Daronco,0,0,0,Empate
1,Atl Goianiense,1–1,Flamengo,10496.0,Estádio Antônio Accioly,Braulio da Silva Machado,1,1,2,Empate
2,Coritiba,3–0,Goiás,17788.0,Estádio Major Antônio Couto Pereira,Raphael Claus,3,0,3,Coritiba
3,Botafogo (RJ),1–3,Corinthians,36898.0,Estádio Nilton Santos,Wilton Sampaio,1,3,4,Corinthians
4,Atlético Mineiro,2–0,Internacional,37531.0,Estádio Governador Magalhães Pinto,Bruno Arleu de Araujo,2,0,2,Atlético Mineiro

In [ ]:
media_gols = df['Total Gols'].mean().round(2)
media_gols

2.25

In [ ]:
df['O/U_0.5'] = 'NaN'
df['O/U_1.5'] = 'NaN'
df['O/U_2.5'] = 'NaN'
df['O/U_3.5'] = 'NaN'

for index, row in df.iterrows():
  if row['Total Gols'] < 0.5:
    df.loc[index,'O/U_0.5'] = 'Under'
  elif row['Total Gols'] > 0.5:
    df.loc[index,'O/U_0.5'] = 'Over'

for index, row in df.iterrows():
  if row['Total Gols'] < 1.5:
    df.loc[index,'O/U_1.5'] = 'Under'
  elif row['Total Gols'] > 1.5:
    df.loc[index,'O/U_1.5'] = 'Over'

for index, row in df.iterrows():
  if row['Total Gols'] < 2.5:
    df.loc[index,'O/U_2.5'] = 'Under'
  elif row['Total Gols'] > 2.5:
    df.loc[index,'O/U_2.5'] = 'Over'

for index, row in df.iterrows():
  if row['Total Gols'] < 3.5:
    df.loc[index,'O/U_3.5'] = 'Under'
  elif row['Total Gols'] > 3.5:
    df.loc[index,'O/U_3.5'] = 'Over'

df

,Em casa,Resultado,Visitante,Público,Local,Árbitro,Resultado_Casa,Resultado_Visitante,Total Gols,Time Vencedor,O/U_0.5,O/U_1.5,O/U_2.5,O/U_3.5
0,Fluminense,0–0,Santos,22855.0,Estadio Jornalista Mário Filho,Anderson Daronco,0,0,0,Empate,Under,Under,Under,Under
1,Atl Goianiense,1–1,Flamengo,10496.0,Estádio Antônio Accioly,Braulio da Silva Machado,1,1,2,Empate,Over,Over,Under,Under
2,Coritiba,3–0,Goiás,17788.0,Estádio Major Antônio Couto Pereira,Raphael Claus,3,0,3,Coritiba,Over,Over,Over,Under
3,Botafogo (RJ),1–3,Corinthians,36898.0,Estádio Nilton Santos,Wilton Sampaio,1,3,4,Corinthians,Over,Over,Over,Over
4,Atlético Mineiro,2–0,Internacional,37531.0,Estádio Governador Magalhães Pinto,Bruno Arleu de Araujo,2,0,2,Atlético Mineiro,Over,Over,Under,Under
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2083,Palmeiras,3–2,Vitória,41256.0,Allianz Parque,Heber Roberto Lopes,3,2,5,Palmeiras,Over,Over,Over,Over
2084,Fluminense,1–0,América (MG),38870.0,Estadio Jornalista Mário Filho,Rafael Traci,1,0,1,Fluminense,Over,Under,Under,Under
2085,Chapecoense,1–0,São Paulo,19992.0,Arena Condá,Wilton Sampaio,1,0,1,Chapecoense,Over,Under,Under,Under
2086,Paraná,1–1,Internacional,2228.0,Estádio Durival de Brito e Silva,Rodrigo Carvalhaes de Miranda,1,1,2,Empate,Over,Over,Under,Under
2087,Grêmio,1–0,Corinthians,38974.0,Arena do Grêmio,Ricardo Marques Ribeiro,1,0,1,Grêmio,Over,Under,Under,Under

In [ ]:
df.value_counts(df['O/U_0.5'], normalize=True)

O/U_0.5
Over     0.904921
Under    0.095079
dtype: float64

In [ ]:
df.value_counts(df['O/U_1.5'], normalize=True)

O/U_1.5
Over     0.64804
Under    0.35196
dtype: float64

In [ ]:
df.value_counts(df['O/U_2.5'], normalize=True)

O/U_2.5
Under    0.605505
Over     0.394495
dtype: float64

In [ ]:
df.value_counts(df['O/U_3.5'], normalize=True)

O/U_3.5
Under    0.81151
Over     0.18849
dtype: float64

In [ ]:
parcial_win_tab = df.drop(df[df['Time Vencedor'] == 'Empate'].index)
parcial_win_rate = parcial_win_tab.value_counts(parcial_win_tab['Time Vencedor']) 
        
parcial_win_rate

Time Vencedor
Flamengo            72
Palmeiras           70
Internacional       53
Atlético Mineiro    52
Atl Paranaense      51
Santos              50
São Paulo           46
Fluminense          46
Corinthians         46
Grêmio              41
Botafogo (RJ)       36
Fortaleza           32
Ceará               31
Bahia               29
América (MG)        29
Goiás               24
Vasco da Gama       22
Cruzeiro            21
Chapecoense         18
Sport Recife        16
Bragantino          14
Atl Goianiense      12
Cuiabá              11
Avaí                10
Coritiba             9
Vitória              9
Juventude            8
CSA                  8
Paraná               4
dtype: int64

In [ ]:
jogos = (df.value_counts(df['Em casa']) + df.value_counts(df['Visitante']))
jogos.sort_values(ascending=False)

Ceará               122
Internacional       121
Atlético Mineiro    121
Flamengo            121
Palmeiras           121
Santos              120
Atl Paranaense      120
Corinthians         120
Fluminense          118
São Paulo           117
Botafogo (RJ)       105
Bahia                92
Chapecoense          91
Grêmio               90
Fortaleza            82
América (MG)         82
Cruzeiro             76
Vasco da Gama        76
Goiás                67
Avaí                 66
Sport Recife         53
Cuiabá               44
Juventude            44
Atl Goianiense       44
Bragantino           44
Paraná               38
CSA                  38
Vitória              38
Coritiba             27
dtype: int64

In [ ]:
wr = df.value_counts(parcial_win_tab['Time Vencedor']) / (df.value_counts(df['Em casa']) + df.value_counts(df['Visitante']))
wr.sort_values(ascending=False)

Flamengo            0.595041
Palmeiras           0.578512
Grêmio              0.455556
Internacional       0.438017
Atlético Mineiro    0.429752
Atl Paranaense      0.425000
Santos              0.416667
São Paulo           0.393162
Fortaleza           0.390244
Fluminense          0.389831
Corinthians         0.383333
Goiás               0.358209
América (MG)        0.353659
Botafogo (RJ)       0.342857
Coritiba            0.333333
Bragantino          0.318182
Bahia               0.315217
Sport Recife        0.301887
Vasco da Gama       0.289474
Cruzeiro            0.276316
Atl Goianiense      0.272727
Ceará               0.254098
Cuiabá              0.250000
Vitória             0.236842
CSA                 0.210526
Chapecoense         0.197802
Juventude           0.181818
Avaí                0.151515
Paraná              0.105263
dtype: float64