## Tratamento de dados Na's

Exercícios de tratamento de dados

In [ ]:
#Importação de libs
import pandas as pd
import seaborn as srn
import statistics as sts

In [ ]:
data = pd.read_csv('tempo.csv', sep=";")
data.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [ ]:
data.shape

(14, 5)

In [ ]:
#agrupando e explorando registros para analise
aparenciagroup = data.groupby(['Aparencia']).size()
aparenciagroup

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [ ]:
temperaturagroup = data.groupby(['Temperatura']).size()
temperaturagroup
data['Temperatura'].describe()

count      14.000000
mean      155.571429
std       306.433759
min        64.000000
25%        69.250000
50%        73.500000
75%        80.750000
max      1220.000000
Name: Temperatura, dtype: float64

In [ ]:
data['Umidade'].describe()

count     13.000000
mean      89.769231
std       34.540203
min       65.000000
25%       70.000000
50%       85.000000
75%       90.000000
max      200.000000
Name: Umidade, dtype: float64

In [ ]:
ventogroup = data.groupby(['Vento']).size()
ventogroup

Vento
FALSO         7
VERDADEIRO    6
dtype: int64

In [ ]:
jogargroup = data.groupby(['Jogar']).size()
jogargroup

Jogar
nao    5
sim    9
dtype: int64

In [ ]:
#verificando dados null
data.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

In [ ]:
#criando medianas para substituição de dados null
medianaumidade = sts.median(data['Umidade'])
medianaumidade

85.5

In [ ]:
#preenchimento de dados null com mediana criada
data['Umidade'].fillna(medianaumidade, inplace = True)

In [ ]:
data['Umidade'].isnull().sum()

0

In [ ]:
#preenchendo dados NA com a moda 
data['Vento'].fillna('FALSO', inplace = True)

In [ ]:
data['Vento'].isnull().sum()

0

In [ ]:
#substituição de valores da coluna umidade
data.loc[(data['Umidade'] > 100)] = medianaumidade

In [ ]:
data.loc[(data['Umidade'] > 100)]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

In [ ]:
data['Umidade'].describe()

count    14.000000
mean     79.750000
std       8.917895
min      65.000000
25%      70.875000
50%      82.500000
75%      85.875000
max      91.000000
Name: Umidade, dtype: float64

In [ ]:
data.loc[(data['Temperatura'] > 130)]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

In [ ]:
medianatemperatura = sts.median(data['Temperatura'])
medianatemperatura

72.75

In [ ]:
data.loc[(data['Temperatura'] > 130)] = medianatemperatura

In [ ]:
data.loc[(data['Temperatura'] > 130)]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

In [ ]:
data.head(14)

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol         85.0     85.0       FALSO   nao
1        sol         80.0     90.0  VERDADEIRO   nao
2    nublado         83.0     86.0       FALSO   sim
3      chuva         70.0     85.5       FALSO   sim
4      chuva         68.0     80.0       FALSO   sim
5      chuva         65.0     70.0  VERDADEIRO   nao
6      menos         64.0     65.0  VERDADEIRO   sim
7       73.5         73.5     73.5        73.5  73.5
8        sol         69.0     70.0       FALSO   sim
9       85.5         85.5     85.5        85.5  85.5
10       sol         75.0     70.0  VERDADEIRO   sim
11   nublado         72.0     90.0  VERDADEIRO   sim
12   nublado         81.0     75.0       FALSO   sim
13     chuva         71.0     91.0  VERDADEIRO   nao

In [ ]:
#excluindo dados fora do padrão
data.drop(7, inplace=True)

In [ ]:
data.head(14)

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol         85.0     85.0       FALSO   nao
1        sol         80.0     90.0  VERDADEIRO   nao
2    nublado         83.0     86.0       FALSO   sim
3      chuva         70.0     85.5       FALSO   sim
4      chuva         68.0     80.0       FALSO   sim
5      chuva         65.0     70.0  VERDADEIRO   nao
6      menos         64.0     65.0  VERDADEIRO   sim
8        sol         69.0     70.0       FALSO   sim
10       sol         75.0     70.0  VERDADEIRO   sim
11   nublado         72.0     90.0  VERDADEIRO   sim
12   nublado         81.0     75.0       FALSO   sim
13     chuva         71.0     91.0  VERDADEIRO   nao